In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

## Загружаем данные и иследуем их

In [23]:
df_f = pd.read_csv('train_features.csv', parse_dates=['timestamp'])
df_t = pd.read_csv('train_targets.csv', parse_dates=['timestamp'])

In [3]:
df_t.head()

            timestamp    B_C2H6     B_C3H8   B_iC4H10   B_nC4H10
0 2020-01-01 00:00:00  4.561979  39.015486  17.250740  24.301793
1 2020-01-01 00:30:00  4.550741  39.048915  17.229506  24.257461
2 2020-01-01 01:00:00  4.506793  38.766378  17.171621  24.236298
3 2020-01-01 01:30:00  4.584963  39.069360  17.218521  24.149843
4 2020-01-01 02:00:00  4.607483  38.817579  17.108668  24.049510

In [4]:
df_f.head(20)

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate
0,2020-01-01 00:00:00,70.855017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.982789
1,2020-01-01 00:30:00,70.826582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.965098
2,2020-01-01 01:00:00,70.809637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.867409
3,2020-01-01 01:30:00,69.994748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.839126
4,2020-01-01 02:00:00,70.072762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.336921
5,2020-01-01 02:30:00,69.998381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.317841
6,2020-01-01 03:00:00,69.929341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.160398
7,2020-01-01 03:30:00,70.286208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.111527
8,2020-01-01 04:00:00,70.521133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.217070
9,2020-01-01 04:30:00,71.055792,0.126244,5.242957,41.941480,17.064213,23.205953,4.184848,4.062079,4.110170,71.389674
10,2020-01-01 05:00:00,71.029881,0.111301,4.632455,39.198330,17.440245,24.331520,4.615703,4.545702,5.072316,71.792506
11,2020-01-01 05:30:00,71.008884,0.125176,4.730933,37.874656,17.353362,24.567692,4.847911,4.818913,5.626975,71.939558
12,2020-01-01 06:00:00,71.060109,0.141546,5.214231,39.763493,17.098163,23.758240,4.512244,4.429068,5.021207,72.124690
13,2020-01-01 06:30:00,71.067865,0.143911,5.440833,41.616510,16.964787,23.121613,4.212636,4.088066,4.347822,72.278288
14,2020-01-01 07:00:00,70.980866,0.128208,5.098310,41.394830,17.190317,23.393417,4.245694,4.132245,4.359903,72.454090
15,2020-01-01 07:30:00,70.974142,0.113156,4.508508,37.855757,17.476940,24.617647,4.811407,4.786933,5.779195,72.290941
16,2020-01-01 08:00:00,70.079251,0.122831,4.722508,37.793467,17.411193,24.582877,4.827411,4.810423,5.676701,72.263812
17,2020-01-01 08:30:00,70.042957,0.136254,5.154190,39.350013,17.152300,23.898327,4.557582,4.500345,5.194112,71.838692
18,2020-01-01 09:00:00,70.258916,0.138829,5.460264,41.730258,16.975872,23.064585,4.167197,4.055051,4.351807,71.557834
19,2020-01-01 09:30:00,70.558137,0.124179,4.981149,40.757430,17.236150,23.558613,4.316329,4.235642,4.743802,71.665119

In [6]:
df_f.describe()

,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate
count,5807.000000,4849.000000,4849.000000,4849.000000,4849.000000,4849.000000,4849.000000,4849.000000,4849.000000,5675.000000
mean,59.346948,0.159890,4.290739,37.990406,17.343168,24.413897,4.948636,4.809805,5.995740,64.817202
std,20.684895,0.068488,0.912565,3.756424,0.754301,1.274795,1.230539,1.285549,1.543956,10.696414
min,0.000321,0.008045,0.280524,11.345740,11.143152,18.655932,3.033678,1.338103,2.924722,0.000000
25%,61.846908,0.109331,3.971011,37.647968,17.018272,23.746663,4.462670,4.353103,5.574106,63.852030
50%,67.010148,0.139924,4.485758,38.618187,17.327200,24.138643,4.684908,4.619459,5.708216,68.583359
75%,69.734038,0.212163,4.844390,39.402360,17.685803,24.615843,5.086816,4.925770,6.032535,71.171153
max,74.560399,0.471429,6.418897,42.860283,20.353500,35.498867,13.812560,14.845480,30.656385,89.958390

In [7]:
df_t.describe()

            B_C2H6       B_C3H8     B_iC4H10     B_nC4H10
count  5624.000000  5628.000000  5628.000000  5628.000000
mean      4.363701    37.742757    16.843028    24.171264
std       2.931240     2.218569     1.059827     1.480740
min       0.861025     0.026142     0.012764     0.019941
25%       3.503610    36.827096    16.548084    23.736470
50%       4.395271    37.750088    16.934576    24.147675
75%       4.680156    38.730979    17.292647    24.642044
max      91.573613    61.931856    19.235807    27.184879

In [5]:
df_f[df_f['A_rate'].isna()]

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate
1251,2020-01-27 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.820273

Объединяем датасет в 1 для очистки

In [24]:
del df_t['timestamp']
df = pd.merge(de, df_t, left_index=True, right_index=True)
df.describe()

,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate,B_C2H6,B_C3H8,B_iC4H10,B_nC4H10
count,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5624.000000,5628.000000,5628.000000,5628.000000
mean,59.348152,0.164942,4.360827,38.110797,17.362836,24.476240,4.929161,4.762810,5.945960,64.901042,4.363701,37.742757,16.843028,24.171264
std,20.683318,0.063600,0.848581,3.442920,0.690625,1.173192,1.125201,1.179355,1.415153,10.587389,2.931240,2.218569,1.059827,1.480740
min,0.000321,0.008045,0.280524,11.345740,11.143152,18.655932,3.033678,1.338103,2.924722,0.000000,0.861025,0.026142,0.012764,0.019941
25%,61.854128,0.115453,4.161142,37.855769,17.080855,23.816398,4.507988,4.416104,5.596912,64.113105,3.503610,36.827096,16.548084,23.736470
50%,67.009854,0.155928,4.664540,38.719532,17.462286,24.318431,4.805214,4.525189,5.694253,68.478447,4.395271,37.750088,16.934576,24.147675
75%,69.733504,0.192303,4.789894,39.223380,17.601124,24.791466,4.952641,4.841351,5.933191,71.105558,4.680156,38.730979,17.292647,24.642044
max,74.560399,0.471429,6.418897,42.860283,20.353500,35.498867,13.812560,14.845480,30.656385,89.958390,91.573613,61.931856,19.235807,27.184879

In [25]:
df.isna().sum()

timestamp      0
A_rate         0
A_CH4          0
A_C2H6         0
A_C3H8         0
A_iC4H10       0
A_nC4H10       0
A_iC5H12       0
A_nC5H12       0
A_C6H14        0
B_rate         0
B_C2H6       184
B_C3H8       180
B_iC4H10     180
B_nC4H10     180
dtype: int64

In [26]:
df_A = df.dropna()

In [152]:
df.describe()

,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate,B_C2H6,B_C3H8,B_iC4H10,B_nC4H10
count,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5624.000000,5628.000000,5628.000000,5628.000000
mean,59.347835,0.159107,4.293376,37.986268,17.327919,24.359137,4.913045,4.771901,5.965116,64.862400,4.363701,37.742757,16.843028,24.171264
std,20.683225,0.062602,0.833835,3.432271,0.690060,1.171276,1.127193,1.177700,1.412398,10.577335,2.931240,2.218569,1.059827,1.480740
min,0.000321,0.008045,0.280524,11.345740,11.143152,18.655932,3.033678,1.338103,2.924722,0.000000,0.861025,0.026142,0.012764,0.019941
25%,61.854128,0.115453,4.161142,37.855769,17.080855,23.816398,4.507988,4.416104,5.596912,64.113105,3.503610,36.827096,16.548084,23.736470
50%,67.009854,0.155144,4.353492,38.237445,17.250818,24.082256,4.733085,4.580246,5.787269,68.457338,4.395271,37.750088,16.934576,24.147675
75%,69.733504,0.192303,4.789894,39.223380,17.601124,24.500920,4.952641,4.841351,5.933191,71.105558,4.680156,38.730979,17.292647,24.642044
max,74.560399,0.471429,6.418897,42.860283,20.353500,35.498867,13.812560,14.845480,30.656385,89.958390,91.573613,61.931856,19.235807,27.184879

In [153]:
df.head(10)

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate,B_C2H6,B_C3H8,B_iC4H10,B_nC4H10
0,2020-01-01 00:00:00,70.855017,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.982789,4.561979,39.015486,17.250740,24.301793
1,2020-01-01 00:30:00,70.826582,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.965098,4.550741,39.048915,17.229506,24.257461
2,2020-01-01 01:00:00,70.809637,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.867409,4.506793,38.766378,17.171621,24.236298
3,2020-01-01 01:30:00,69.994748,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.839126,4.584963,39.069360,17.218521,24.149843
4,2020-01-01 02:00:00,70.072762,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.336921,4.607483,38.817579,17.108668,24.049510
5,2020-01-01 02:30:00,69.998381,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.317841,4.655999,39.088631,17.191166,24.075224
6,2020-01-01 03:00:00,69.929341,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.160398,4.570683,38.595931,17.146432,24.080687
7,2020-01-01 03:30:00,70.286208,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.111527,4.566087,39.005259,17.324374,24.248839
8,2020-01-01 04:00:00,70.521133,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.217070,4.512160,38.634255,17.219131,24.203964
9,2020-01-01 04:30:00,71.055792,0.126244,5.242957,41.941480,17.064213,23.205953,4.184848,4.062079,4.110170,71.389674,4.532649,38.604149,17.238489,24.275393

In [27]:
df_f = df_A.loc[:, 'A_rate':'B_rate']
df_t = df_A[['B_C2H6', 'B_C3H8', 'B_iC4H10', 'B_nC4H10']]

#df_f['timestamp'] = df_f['timestamp'].astype(int)
#df_t['timestamp'] = df_t['timestamp'].astype(int)

x_train, x_valid, y_train, y_valid = train_test_split(df_f, df_t)

In [164]:
x_train

,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate
1135,66.948104,0.085099,2.535543,37.422626,18.573074,26.439216,4.764577,4.674175,5.490259,68.866010
3881,65.924797,0.116465,3.881993,38.008283,17.253447,24.329690,5.427929,4.856033,6.094533,68.439595
1689,0.001451,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,37.767590
3338,65.375857,0.113989,3.961922,39.341617,18.714903,24.726680,3.751163,3.761343,5.608754,66.628677
575,70.256819,0.134296,4.676009,40.142895,17.284133,23.711595,4.178389,4.238471,5.579707,71.471235
...,...,...,...,...,...,...,...,...,...,...
4891,67.350193,0.301935,4.773241,37.102722,16.904950,23.993690,5.100571,5.037154,6.731196,68.519242
5681,70.331542,0.332536,5.284364,35.090370,16.604150,24.578680,6.077605,5.655422,6.316031,72.727109
3519,70.693113,0.222866,4.377731,39.277490,17.006068,23.803414,4.873803,4.677525,5.720900,72.368604
2070,70.186354,0.111828,4.732386,40.203630,17.334473,23.686013,4.473540,4.286053,5.123638,72.161879
4984,65.489660,0.255990,4.852103,37.623310,16.907717,23.878300,5.310703,5.003129,6.117052,69.111191

In [165]:
y_train

        B_C2H6     B_C3H8   B_iC4H10   B_nC4H10
1135  2.529104  35.529099  17.449176  26.104954
3881  4.164055  36.410654  15.787056  23.442470
1689  2.254164  38.166851  15.390432  23.629031
3338  4.630291  38.430074  16.930526  24.245889
575   4.619519  38.861570  17.124375  24.309529
...        ...        ...        ...        ...
4891  4.420699  38.721644  17.061863  24.092208
5681  5.289333  35.984697  16.636489  24.462759
3519  4.718870  38.809720  16.976152  23.834808
2070  2.665960  40.125129  17.237211  24.696663
4984  4.492711  37.293801  16.811498  24.092570

[4218 rows x 4 columns]

Строим модель

In [13]:
import keras

In [14]:
def getModel(input_count = 1, out_count = 4):
    model = keras.Sequential()
    model.add(keras.layers.Dense(20, input_dim=input_count))
    model.add(keras.layers.Dense(30, activation='sigmoid'))
    model.add(keras.layers.Dense(500, activation='relu'))
    model.add(keras.layers.Dense(200, activation='sigmoid'))
    model.add(keras.layers.Dense(100, activation='relu'))
    model.add(keras.layers.Dense(50))
    model.add(keras.layers.Dense(out_count))

    model.compile(optimizer='adam',
                  loss='mean_squared_error',
                  metrics=['mean_squared_error', 'mae'])
    return model

In [28]:
models = []

#for col in y_train.columns:
#    print(col)
model = getModel(10, 4)
model.fit(x_train, y_train, epochs=1000, validation_data=(x_valid, y_valid), verbose=0)
#    models.append(model)

In [29]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 20)                220
_________________________________________________________________
dense_22 (Dense)             (None, 30)                630
_________________________________________________________________
dense_23 (Dense)             (None, 500)               15500
_________________________________________________________________
dense_24 (Dense)             (None, 200)               100200
_________________________________________________________________
dense_25 (Dense)             (None, 100)               20100
_________________________________________________________________
dense_26 (Dense)             (None, 50)                5050
_________________________________________________________________
dense_27 (Dense)             (None, 4)                 204
=================================================================
Total params: 141,904
Trainable params: 141,904
Non-trainable params: 0
_________________________________________________________________

In [30]:
df_test = pd.read_csv('test_features.csv', parse_dates=['timestamp'])
df_test = df_test.apply(applyFirstStepNA, axis=1)
df_test

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate
0,2020-05-01 00:00:00,71.428342,0.267832,5.135159,36.816480,16.632260,24.062587,5.696004,4.939430,6.395286,74.273009
1,2020-05-01 00:30:00,70.925118,0.268464,5.149646,36.869023,16.651870,24.069800,5.676384,4.911872,6.346957,74.061833
2,2020-05-01 01:00:00,70.991719,0.270641,5.154615,37.074965,16.710967,24.106152,5.574873,4.808516,6.242636,73.856268
3,2020-05-01 01:30:00,70.972406,0.275241,5.230661,37.384180,16.683337,24.021993,5.514843,4.730887,6.101647,73.750744
4,2020-05-01 02:00:00,70.980078,0.275062,5.241437,37.448587,16.663863,24.003237,5.524898,4.728882,6.057119,73.698447
...,...,...,...,...,...,...,...,...,...,...,...
3979,2020-07-22 21:30:00,72.600912,0.120985,4.328092,40.875930,17.741460,24.098520,4.469224,3.619095,4.686205,75.486026
3980,2020-07-22 22:00:00,72.107049,0.110734,4.013567,38.871418,17.449352,24.049532,4.770699,3.988215,6.689777,75.370451
3981,2020-07-22 22:30:00,71.805799,0.111535,4.041506,39.794323,17.635380,24.169473,4.613603,3.790651,5.785216,74.985878
3982,2020-07-22 23:00:00,72.112046,0.119362,4.131432,40.461503,17.758833,24.211013,4.504242,3.657459,5.094626,74.766867
3983,2020-07-22 23:30:00,72.941085,0.122393,4.207615,40.957330,17.772225,24.088445,4.387957,3.536302,4.863965,74.804667

In [31]:
y_pred = model.predict(df_test.loc[:, 'A_rate':'B_rate'])

In [32]:
y_pred

array([[ 5.2045856, 36.81052  , 16.669899 , 24.014214 ],
       [ 5.250722 , 36.72913  , 16.61359  , 23.990028 ],
       [ 5.2215548, 36.780605 , 16.649164 , 24.005287 ],
       ...,
       [ 4.1388946, 38.82764  , 17.120144 , 24.18687  ],
       [ 4.376818 , 38.66396  , 17.06987  , 24.100819 ],
       [ 4.3652854, 38.65324  , 17.06829  , 24.081799 ]], dtype=float32)

In [33]:
df_pred = pd.merge(df_test['timestamp'], pd.DataFrame(y_pred), left_index=True, right_index=True)

In [34]:
df_pred.columns = pd.read_csv('train_targets.csv', parse_dates=['timestamp']).columns

In [35]:
df_pred.to_csv('pred_targets.csv')

In [234]:

pd.read_csv('train_targets.csv', parse_dates=['timestamp']).columns

Index(['timestamp', 'B_C2H6', 'B_C3H8', 'B_iC4H10', 'B_nC4H10'], dtype='object')

In [244]:
df_pred.shape

(3984, 5)

In [245]:
df_test.shape

(3984, 11)

In [179]:
df_pred.isna().sum()

timestamp    0
B_C2H6       0
B_C3H8       0
B_iC4H10     0
B_nC4H10     0
dtype: int64

In [141]:
df_test.isna().sum()

timestamp    0
A_rate       0
A_CH4        0
A_C2H6       0
A_C3H8       0
A_iC4H10     0
A_nC4H10     0
A_iC5H12     0
A_nC5H12     0
A_C6H14      0
B_rate       0
dtype: int64

In [258]:
df_test[df_test['A_rate'].isna()]

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate
885,2020-05-19 10:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.743073
886,2020-05-19 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.674774
887,2020-05-19 11:30:00,NaN,0.160374,4.594337,38.460730,16.797410,23.406563,5.383636,5.025275,6.117902,72.430343
888,2020-05-19 12:00:00,NaN,0.162710,4.624175,38.437957,16.771247,23.382453,5.387081,5.033125,6.147227,72.596920
889,2020-05-19 12:30:00,NaN,0.164062,4.627091,38.382203,16.767180,23.401657,5.395909,5.047626,6.159850,72.777683
...,...,...,...,...,...,...,...,...,...,...,...
2431,2020-06-20 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.488904
2432,2020-06-20 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.018824
2433,2020-06-20 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.008890
2434,2020-06-20 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.580371
2435,2020-06-20 17:30:00,NaN,0.151557,4.323545,37.821257,17.204877,23.197220,5.084653,5.060246,7.112196,71.792800

In [15]:
df_A

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate,B_C2H6,B_C3H8,B_iC4H10,B_nC4H10
9,2020-01-01 04:30:00,71.055792,0.126244,5.242957,41.941480,17.064213,23.205953,4.184848,4.062079,4.110170,71.389674,4.532649,38.604149,17.238489,24.275393
10,2020-01-01 05:00:00,71.029881,0.111301,4.632455,39.198330,17.440245,24.331520,4.615703,4.545702,5.072316,71.792506,4.578543,38.510623,17.193441,24.242152
11,2020-01-01 05:30:00,71.008884,0.125176,4.730933,37.874656,17.353362,24.567692,4.847911,4.818913,5.626975,71.939558,4.642879,39.124029,17.301609,24.211492
12,2020-01-01 06:00:00,71.060109,0.141546,5.214231,39.763493,17.098163,23.758240,4.512244,4.429068,5.021207,72.124690,4.549837,38.247333,17.118282,24.044074
13,2020-01-01 06:30:00,71.067865,0.143911,5.440833,41.616510,16.964787,23.121613,4.212636,4.088066,4.347822,72.278288,4.556611,37.985776,17.038811,23.931490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5803,2020-04-30 21:30:00,72.009730,0.284151,4.936343,35.758852,16.473834,24.318968,6.069360,5.527463,6.577563,74.183355,4.816865,35.539156,16.269938,24.770377
5804,2020-04-30 22:00:00,71.854180,0.282501,4.960453,35.877193,16.448487,24.074193,5.981357,5.407256,6.915378,74.213066,4.993286,36.067750,16.317757,24.729847
5805,2020-04-30 22:30:00,71.783273,0.277686,5.013878,36.271557,16.500147,24.010123,5.829363,5.160329,6.884173,74.144367,5.101574,36.275040,16.295460,24.629889
5806,2020-04-30 23:00:00,71.717743,0.271106,5.080144,36.616673,16.559533,24.008848,5.750492,5.017941,6.642076,74.320575,5.210675,36.872917,16.336359,24.438236
5807,2020-04-30 23:30:00,71.730325,0.265635,5.069165,36.602453,16.649167,24.150503,5.752792,4.997528,6.459137,74.327170,5.136487,35.860326,16.101509,24.426845

In [19]:
df_A['y'] = df_A['timestamp'].dt.year
df_A['m'] = df_A['timestamp'].dt.month
df_A['d'] = df_A['timestamp'].dt.day
df_A['h'] = df_A['timestamp'].dt.hour
df_A['mm'] = df_A['timestamp'].dt.minute
df_A['dv'] = df_A['timestamp'].dt.dayofweek

df_A

<ipython-input-19-2ed0b5d42521>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A['y'] = df_A['timestamp'].dt.year
<ipython-input-19-2ed0b5d42521>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A['m'] = df_A['timestamp'].dt.month
<ipython-input-19-2ed0b5d42521>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A['d'] = df_A['timestamp'].dt.day
<ipython-input-19-2ed0b5d42521>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A['h'] = df_A['timestamp'].dt.hour
<ipython-input-19-2ed0b5d42521>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A['mm'] = df_A['timestamp'].dt.minute
<ipython-input-19-2ed0b5d42521>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A['dv'] = df_A['timestamp'].dt.dayofweek

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,...,B_C2H6,B_C3H8,B_iC4H10,B_nC4H10,y,m,d,h,mm,dv
9,2020-01-01 04:30:00,71.055792,0.126244,5.242957,41.941480,17.064213,23.205953,4.184848,4.062079,4.110170,...,4.532649,38.604149,17.238489,24.275393,2020,1,1,4,30,2
10,2020-01-01 05:00:00,71.029881,0.111301,4.632455,39.198330,17.440245,24.331520,4.615703,4.545702,5.072316,...,4.578543,38.510623,17.193441,24.242152,2020,1,1,5,0,2
11,2020-01-01 05:30:00,71.008884,0.125176,4.730933,37.874656,17.353362,24.567692,4.847911,4.818913,5.626975,...,4.642879,39.124029,17.301609,24.211492,2020,1,1,5,30,2
12,2020-01-01 06:00:00,71.060109,0.141546,5.214231,39.763493,17.098163,23.758240,4.512244,4.429068,5.021207,...,4.549837,38.247333,17.118282,24.044074,2020,1,1,6,0,2
13,2020-01-01 06:30:00,71.067865,0.143911,5.440833,41.616510,16.964787,23.121613,4.212636,4.088066,4.347822,...,4.556611,37.985776,17.038811,23.931490,2020,1,1,6,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5803,2020-04-30 21:30:00,72.009730,0.284151,4.936343,35.758852,16.473834,24.318968,6.069360,5.527463,6.577563,...,4.816865,35.539156,16.269938,24.770377,2020,4,30,21,30,3
5804,2020-04-30 22:00:00,71.854180,0.282501,4.960453,35.877193,16.448487,24.074193,5.981357,5.407256,6.915378,...,4.993286,36.067750,16.317757,24.729847,2020,4,30,22,0,3
5805,2020-04-30 22:30:00,71.783273,0.277686,5.013878,36.271557,16.500147,24.010123,5.829363,5.160329,6.884173,...,5.101574,36.275040,16.295460,24.629889,2020,4,30,22,30,3
5806,2020-04-30 23:00:00,71.717743,0.271106,5.080144,36.616673,16.559533,24.008848,5.750492,5.017941,6.642076,...,5.210675,36.872917,16.336359,24.438236,2020,4,30,23,0,3
5807,2020-04-30 23:30:00,71.730325,0.265635,5.069165,36.602453,16.649167,24.150503,5.752792,4.997528,6.459137,...,5.136487,35.860326,16.101509,24.426845,2020,4,30,23,30,3

In [20]:

x_train, x_valid, y_train, y_valid = train_test_split(df_A[['y', 'm', 'd', 'h', 'mm', 'dv']], df_A.loc[:, 'A_rate':'B_rate'])

model_from_time = getModel(6, 10)
model_from_time.fit(x_train, y_train, epochs=100, validation_data=(x_valid, y_valid), verbose=1)

Epoch 1/100
110/110 [==============================] - 0s 4ms/step - loss: 250.9477 - mean_squared_error: 250.9477 - mae: 7.5402 - val_loss: 13.2760 - val_mean_squared_error: 13.2760 - val_mae: 1.3608
Epoch 2/100
110/110 [==============================] - 0s 3ms/step - loss: 13.5448 - mean_squared_error: 13.5448 - mae: 1.3562 - val_loss: 13.3940 - val_mean_squared_error: 13.3940 - val_mae: 1.3901
Epoch 3/100
110/110 [==============================] - 0s 3ms/step - loss: 13.5862 - mean_squared_error: 13.5862 - mae: 1.3582 - val_loss: 13.2349 - val_mean_squared_error: 13.2349 - val_mae: 1.3068
Epoch 4/100
110/110 [==============================] - 0s 3ms/step - loss: 13.6337 - mean_squared_error: 13.6337 - mae: 1.3621 - val_loss: 13.2302 - val_mean_squared_error: 13.2302 - val_mae: 1.3528
Epoch 5/100
110/110 [==============================] - 0s 3ms/step - loss: 13.6008 - mean_squared_error: 13.6008 - mae: 1.3660 - val_loss: 13.2837 - val_mean_squared_error: 13.2837 - val_mae: 1.3114
Epoch 6/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7547 - mean_squared_error: 13.7547 - mae: 1.3990 - val_loss: 13.3772 - val_mean_squared_error: 13.3772 - val_mae: 1.3688
Epoch 7/100
110/110 [==============================] - 0s 3ms/step - loss: 13.8309 - mean_squared_error: 13.8309 - mae: 1.3936 - val_loss: 14.0341 - val_mean_squared_error: 14.0341 - val_mae: 1.5834
Epoch 8/100
110/110 [==============================] - 0s 3ms/step - loss: 13.6992 - mean_squared_error: 13.6992 - mae: 1.3850 - val_loss: 13.4794 - val_mean_squared_error: 13.4794 - val_mae: 1.4129
Epoch 9/100
110/110 [==============================] - 1s 5ms/step - loss: 13.6538 - mean_squared_error: 13.6538 - mae: 1.3787 - val_loss: 13.2183 - val_mean_squared_error: 13.2183 - val_mae: 1.3351
Epoch 10/100
110/110 [==============================] - 0s 4ms/step - loss: 13.6435 - mean_squared_error: 13.6435 - mae: 1.3706 - val_loss: 13.7850 - val_mean_squared_error: 13.7850 - val_mae: 1.5074
Epoch 11/100
110/110 [==============================] - 0s 3ms/step - loss: 13.8445 - mean_squared_error: 13.8445 - mae: 1.4159 - val_loss: 13.3075 - val_mean_squared_error: 13.3075 - val_mae: 1.3831
Epoch 12/100
110/110 [==============================] - 0s 3ms/step - loss: 13.8441 - mean_squared_error: 13.8441 - mae: 1.4267 - val_loss: 13.2865 - val_mean_squared_error: 13.2865 - val_mae: 1.3001
Epoch 13/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7856 - mean_squared_error: 13.7856 - mae: 1.4169 - val_loss: 13.3461 - val_mean_squared_error: 13.3461 - val_mae: 1.3487
Epoch 14/100
110/110 [==============================] - 0s 3ms/step - loss: 13.6870 - mean_squared_error: 13.6870 - mae: 1.3811 - val_loss: 13.3394 - val_mean_squared_error: 13.3394 - val_mae: 1.3913
Epoch 15/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7290 - mean_squared_error: 13.7290 - mae: 1.4200 - val_loss: 13.2534 - val_mean_squared_error: 13.2534 - val_mae: 1.3669
Epoch 16/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7834 - mean_squared_error: 13.7834 - mae: 1.4092 - val_loss: 13.7769 - val_mean_squared_error: 13.7769 - val_mae: 1.5594
Epoch 17/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7782 - mean_squared_error: 13.7782 - mae: 1.4157 - val_loss: 13.6388 - val_mean_squared_error: 13.6388 - val_mae: 1.3612
Epoch 18/100
110/110 [==============================] - 0s 3ms/step - loss: 13.6830 - mean_squared_error: 13.6830 - mae: 1.3847 - val_loss: 13.3629 - val_mean_squared_error: 13.3629 - val_mae: 1.3871
Epoch 19/100
110/110 [==============================] - 0s 3ms/step - loss: 13.6969 - mean_squared_error: 13.6969 - mae: 1.3954 - val_loss: 14.2496 - val_mean_squared_error: 14.2496 - val_mae: 1.5615
Epoch 20/100
110/110 [==============================] - 0s 3ms/step - loss: 13.6868 - mean_squared_error: 13.6868 - mae: 1.3928 - val_loss: 13.6530 - val_mean_squared_error: 13.6530 - val_mae: 1.4560
Epoch 21/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7114 - mean_squared_error: 13.7114 - mae: 1.3975 - val_loss: 13.2956 - val_mean_squared_error: 13.2956 - val_mae: 1.3608
Epoch 22/100
110/110 [==============================] - 0s 3ms/step - loss: 13.8264 - mean_squared_error: 13.8264 - mae: 1.4242 - val_loss: 14.2766 - val_mean_squared_error: 14.2766 - val_mae: 1.3747
Epoch 23/100
110/110 [==============================] - 0s 3ms/step - loss: 13.8652 - mean_squared_error: 13.8652 - mae: 1.4441 - val_loss: 13.8784 - val_mean_squared_error: 13.8784 - val_mae: 1.6122
Epoch 24/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7945 - mean_squared_error: 13.7945 - mae: 1.4255 - val_loss: 13.4658 - val_mean_squared_error: 13.4658 - val_mae: 1.3250
Epoch 25/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7522 - mean_squared_error: 13.7522 - mae: 1.4106 - val_loss: 13.5046 - val_mean_squared_error: 13.5046 - val_mae: 1.4139
Epoch 26/100
110/110 [==============================] - 0s 3ms/step - loss: 13.6950 - mean_squared_error: 13.6950 - mae: 1.4192 - val_loss: 13.4315 - val_mean_squared_error: 13.4315 - val_mae: 1.3319
Epoch 27/100
110/110 [==============================] - 1s 6ms/step - loss: 13.8981 - mean_squared_error: 13.8981 - mae: 1.4349 - val_loss: 13.8532 - val_mean_squared_error: 13.8532 - val_mae: 1.5961
Epoch 28/100
110/110 [==============================] - 1s 6ms/step - loss: 13.9652 - mean_squared_error: 13.9652 - mae: 1.4432 - val_loss: 13.5286 - val_mean_squared_error: 13.5286 - val_mae: 1.5022
Epoch 29/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8735 - mean_squared_error: 13.8735 - mae: 1.4607 - val_loss: 13.4365 - val_mean_squared_error: 13.4365 - val_mae: 1.3822
Epoch 30/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7806 - mean_squared_error: 13.7806 - mae: 1.4194 - val_loss: 13.4473 - val_mean_squared_error: 13.4473 - val_mae: 1.3378
Epoch 31/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8759 - mean_squared_error: 13.8759 - mae: 1.4709 - val_loss: 13.5719 - val_mean_squared_error: 13.5719 - val_mae: 1.3232
Epoch 32/100
110/110 [==============================] - 0s 3ms/step - loss: 13.9075 - mean_squared_error: 13.9075 - mae: 1.4534 - val_loss: 13.2946 - val_mean_squared_error: 13.2946 - val_mae: 1.3619
Epoch 33/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7542 - mean_squared_error: 13.7542 - mae: 1.4184 - val_loss: 13.5589 - val_mean_squared_error: 13.5589 - val_mae: 1.5228
Epoch 34/100
110/110 [==============================] - 0s 3ms/step - loss: 13.9038 - mean_squared_error: 13.9038 - mae: 1.4726 - val_loss: 13.5274 - val_mean_squared_error: 13.5274 - val_mae: 1.4684
Epoch 35/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8359 - mean_squared_error: 13.8359 - mae: 1.4357 - val_loss: 13.6011 - val_mean_squared_error: 13.6011 - val_mae: 1.4212
Epoch 36/100
110/110 [==============================] - 1s 6ms/step - loss: 13.9332 - mean_squared_error: 13.9332 - mae: 1.4734 - val_loss: 13.7823 - val_mean_squared_error: 13.7823 - val_mae: 1.3480
Epoch 37/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8659 - mean_squared_error: 13.8659 - mae: 1.4471 - val_loss: 15.5573 - val_mean_squared_error: 15.5573 - val_mae: 1.8804
Epoch 38/100
110/110 [==============================] - 0s 4ms/step - loss: 13.9171 - mean_squared_error: 13.9171 - mae: 1.4609 - val_loss: 13.4844 - val_mean_squared_error: 13.4844 - val_mae: 1.2989
Epoch 39/100
110/110 [==============================] - 1s 6ms/step - loss: 13.9287 - mean_squared_error: 13.9287 - mae: 1.4482 - val_loss: 13.8307 - val_mean_squared_error: 13.8307 - val_mae: 1.5543
Epoch 40/100
110/110 [==============================] - 1s 5ms/step - loss: 13.9285 - mean_squared_error: 13.9285 - mae: 1.4488 - val_loss: 13.3134 - val_mean_squared_error: 13.3134 - val_mae: 1.4113
Epoch 41/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7080 - mean_squared_error: 13.7080 - mae: 1.3869 - val_loss: 13.2857 - val_mean_squared_error: 13.2857 - val_mae: 1.3576
Epoch 42/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8937 - mean_squared_error: 13.8937 - mae: 1.4550 - val_loss: 13.3257 - val_mean_squared_error: 13.3257 - val_mae: 1.3800
Epoch 43/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8114 - mean_squared_error: 13.8114 - mae: 1.4371 - val_loss: 13.6742 - val_mean_squared_error: 13.6742 - val_mae: 1.4824
Epoch 44/100
110/110 [==============================] - 0s 4ms/step - loss: 13.9198 - mean_squared_error: 13.9198 - mae: 1.4464 - val_loss: 13.2800 - val_mean_squared_error: 13.2800 - val_mae: 1.3391
Epoch 45/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7985 - mean_squared_error: 13.7985 - mae: 1.4228 - val_loss: 13.3080 - val_mean_squared_error: 13.3080 - val_mae: 1.3965
Epoch 46/100
110/110 [==============================] - 0s 4ms/step - loss: 14.0059 - mean_squared_error: 14.0059 - mae: 1.4827 - val_loss: 13.8599 - val_mean_squared_error: 13.8599 - val_mae: 1.6229
Epoch 47/100
110/110 [==============================] - 0s 4ms/step - loss: 13.9489 - mean_squared_error: 13.9489 - mae: 1.4577 - val_loss: 13.3151 - val_mean_squared_error: 13.3151 - val_mae: 1.4070
Epoch 48/100
110/110 [==============================] - 1s 7ms/step - loss: 13.7150 - mean_squared_error: 13.7150 - mae: 1.3989 - val_loss: 13.5397 - val_mean_squared_error: 13.5397 - val_mae: 1.4457
Epoch 49/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8160 - mean_squared_error: 13.8160 - mae: 1.4295 - val_loss: 13.2641 - val_mean_squared_error: 13.2641 - val_mae: 1.3681
Epoch 50/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7871 - mean_squared_error: 13.7871 - mae: 1.4220 - val_loss: 13.4697 - val_mean_squared_error: 13.4697 - val_mae: 1.4633
Epoch 51/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7580 - mean_squared_error: 13.7580 - mae: 1.4273 - val_loss: 13.5348 - val_mean_squared_error: 13.5348 - val_mae: 1.4866
Epoch 52/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7767 - mean_squared_error: 13.7767 - mae: 1.4080 - val_loss: 13.3338 - val_mean_squared_error: 13.3338 - val_mae: 1.4006
Epoch 53/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8627 - mean_squared_error: 13.8627 - mae: 1.4225 - val_loss: 13.3081 - val_mean_squared_error: 13.3081 - val_mae: 1.3363
Epoch 54/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8387 - mean_squared_error: 13.8387 - mae: 1.4219 - val_loss: 13.5236 - val_mean_squared_error: 13.5236 - val_mae: 1.4579
Epoch 55/100
110/110 [==============================] - 0s 4ms/step - loss: 13.6162 - mean_squared_error: 13.6162 - mae: 1.3790 - val_loss: 13.3825 - val_mean_squared_error: 13.3825 - val_mae: 1.4259
Epoch 56/100
110/110 [==============================] - 1s 5ms/step - loss: 13.7303 - mean_squared_error: 13.7303 - mae: 1.4055 - val_loss: 13.9219 - val_mean_squared_error: 13.9219 - val_mae: 1.5030
Epoch 57/100
110/110 [==============================] - 1s 5ms/step - loss: 13.7747 - mean_squared_error: 13.7747 - mae: 1.4219 - val_loss: 13.3229 - val_mean_squared_error: 13.3229 - val_mae: 1.3827
Epoch 58/100
110/110 [==============================] - 1s 5ms/step - loss: 14.0054 - mean_squared_error: 14.0054 - mae: 1.4550 - val_loss: 13.4920 - val_mean_squared_error: 13.4920 - val_mae: 1.4283
Epoch 59/100
110/110 [==============================] - 1s 6ms/step - loss: 13.8398 - mean_squared_error: 13.8398 - mae: 1.4271 - val_loss: 13.3389 - val_mean_squared_error: 13.3389 - val_mae: 1.3951
Epoch 60/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8186 - mean_squared_error: 13.8186 - mae: 1.4192 - val_loss: 13.7266 - val_mean_squared_error: 13.7266 - val_mae: 1.4920
Epoch 61/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8789 - mean_squared_error: 13.8789 - mae: 1.4155 - val_loss: 13.3384 - val_mean_squared_error: 13.3384 - val_mae: 1.3966
Epoch 62/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7718 - mean_squared_error: 13.7718 - mae: 1.4095 - val_loss: 13.3081 - val_mean_squared_error: 13.3081 - val_mae: 1.4030
Epoch 63/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8399 - mean_squared_error: 13.8399 - mae: 1.4049 - val_loss: 13.3846 - val_mean_squared_error: 13.3846 - val_mae: 1.3953
Epoch 64/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7704 - mean_squared_error: 13.7704 - mae: 1.4127 - val_loss: 13.5448 - val_mean_squared_error: 13.5448 - val_mae: 1.3272
Epoch 65/100
110/110 [==============================] - 0s 4ms/step - loss: 14.0057 - mean_squared_error: 14.0057 - mae: 1.4747 - val_loss: 13.5985 - val_mean_squared_error: 13.5985 - val_mae: 1.4435
Epoch 66/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7802 - mean_squared_error: 13.7802 - mae: 1.4094 - val_loss: 14.3694 - val_mean_squared_error: 14.3694 - val_mae: 1.6335
Epoch 67/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7963 - mean_squared_error: 13.7963 - mae: 1.4142 - val_loss: 13.3248 - val_mean_squared_error: 13.3248 - val_mae: 1.3285
Epoch 68/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7254 - mean_squared_error: 13.7254 - mae: 1.3927 - val_loss: 13.2578 - val_mean_squared_error: 13.2578 - val_mae: 1.3490
Epoch 69/100
110/110 [==============================] - 0s 4ms/step - loss: 14.0762 - mean_squared_error: 14.0762 - mae: 1.4682 - val_loss: 13.5102 - val_mean_squared_error: 13.5102 - val_mae: 1.4303
Epoch 70/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8318 - mean_squared_error: 13.8318 - mae: 1.4087 - val_loss: 13.2892 - val_mean_squared_error: 13.2892 - val_mae: 1.3714
Epoch 71/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8634 - mean_squared_error: 13.8634 - mae: 1.4262 - val_loss: 13.4718 - val_mean_squared_error: 13.4718 - val_mae: 1.4055
Epoch 72/100
110/110 [==============================] - 0s 4ms/step - loss: 13.9452 - mean_squared_error: 13.9452 - mae: 1.4321 - val_loss: 13.3479 - val_mean_squared_error: 13.3479 - val_mae: 1.3493
Epoch 73/100
110/110 [==============================] - 1s 5ms/step - loss: 13.7215 - mean_squared_error: 13.7215 - mae: 1.3941 - val_loss: 13.2254 - val_mean_squared_error: 13.2254 - val_mae: 1.3334
Epoch 74/100
110/110 [==============================] - 1s 5ms/step - loss: 13.8299 - mean_squared_error: 13.8299 - mae: 1.4115 - val_loss: 13.3153 - val_mean_squared_error: 13.3153 - val_mae: 1.3594
Epoch 75/100
110/110 [==============================] - 0s 4ms/step - loss: 13.6937 - mean_squared_error: 13.6937 - mae: 1.4028 - val_loss: 13.3250 - val_mean_squared_error: 13.3250 - val_mae: 1.2834
Epoch 76/100
110/110 [==============================] - 0s 4ms/step - loss: 13.6111 - mean_squared_error: 13.6111 - mae: 1.3753 - val_loss: 13.7000 - val_mean_squared_error: 13.7000 - val_mae: 1.2696
Epoch 77/100
110/110 [==============================] - 1s 5ms/step - loss: 13.9295 - mean_squared_error: 13.9295 - mae: 1.4155 - val_loss: 14.5529 - val_mean_squared_error: 14.5529 - val_mae: 1.7479
Epoch 78/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8899 - mean_squared_error: 13.8899 - mae: 1.4476 - val_loss: 13.7100 - val_mean_squared_error: 13.7100 - val_mae: 1.5467
Epoch 79/100
110/110 [==============================] - 0s 3ms/step - loss: 13.8013 - mean_squared_error: 13.8013 - mae: 1.4248 - val_loss: 14.0651 - val_mean_squared_error: 14.0651 - val_mae: 1.4796
Epoch 80/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7938 - mean_squared_error: 13.7938 - mae: 1.4274 - val_loss: 14.5392 - val_mean_squared_error: 14.5392 - val_mae: 1.5806
Epoch 81/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7395 - mean_squared_error: 13.7395 - mae: 1.3957 - val_loss: 13.3284 - val_mean_squared_error: 13.3284 - val_mae: 1.3775
Epoch 82/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7979 - mean_squared_error: 13.7979 - mae: 1.4200 - val_loss: 13.3019 - val_mean_squared_error: 13.3019 - val_mae: 1.3994
Epoch 83/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7736 - mean_squared_error: 13.7736 - mae: 1.4262 - val_loss: 13.2642 - val_mean_squared_error: 13.2642 - val_mae: 1.3348
Epoch 84/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7040 - mean_squared_error: 13.7040 - mae: 1.3890 - val_loss: 13.2330 - val_mean_squared_error: 13.2330 - val_mae: 1.3300
Epoch 85/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7848 - mean_squared_error: 13.7848 - mae: 1.4106 - val_loss: 13.3082 - val_mean_squared_error: 13.3082 - val_mae: 1.3388
Epoch 86/100
110/110 [==============================] - 0s 3ms/step - loss: 13.8523 - mean_squared_error: 13.8523 - mae: 1.4291 - val_loss: 13.2609 - val_mean_squared_error: 13.2609 - val_mae: 1.3380
Epoch 87/100
110/110 [==============================] - 1s 6ms/step - loss: 13.8023 - mean_squared_error: 13.8023 - mae: 1.4062 - val_loss: 13.6142 - val_mean_squared_error: 13.6142 - val_mae: 1.4894
Epoch 88/100
110/110 [==============================] - 1s 5ms/step - loss: 13.7970 - mean_squared_error: 13.7970 - mae: 1.4284 - val_loss: 13.8800 - val_mean_squared_error: 13.8800 - val_mae: 1.5121
Epoch 89/100
110/110 [==============================] - 1s 5ms/step - loss: 13.7440 - mean_squared_error: 13.7440 - mae: 1.4068 - val_loss: 13.2504 - val_mean_squared_error: 13.2504 - val_mae: 1.3420
Epoch 90/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7492 - mean_squared_error: 13.7492 - mae: 1.4013 - val_loss: 13.5480 - val_mean_squared_error: 13.5480 - val_mae: 1.4240
Epoch 91/100
110/110 [==============================] - 0s 3ms/step - loss: 13.9530 - mean_squared_error: 13.9530 - mae: 1.4512 - val_loss: 14.3134 - val_mean_squared_error: 14.3134 - val_mae: 1.5862
Epoch 92/100
110/110 [==============================] - 0s 4ms/step - loss: 13.6496 - mean_squared_error: 13.6496 - mae: 1.3753 - val_loss: 13.2282 - val_mean_squared_error: 13.2282 - val_mae: 1.3393
Epoch 93/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7622 - mean_squared_error: 13.7622 - mae: 1.3978 - val_loss: 13.3345 - val_mean_squared_error: 13.3345 - val_mae: 1.3970
Epoch 94/100
110/110 [==============================] - 0s 3ms/step - loss: 13.7744 - mean_squared_error: 13.7744 - mae: 1.4214 - val_loss: 13.3772 - val_mean_squared_error: 13.3772 - val_mae: 1.4082
Epoch 95/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7259 - mean_squared_error: 13.7259 - mae: 1.4142 - val_loss: 13.4802 - val_mean_squared_error: 13.4802 - val_mae: 1.3251
Epoch 96/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7220 - mean_squared_error: 13.7220 - mae: 1.4004 - val_loss: 13.3097 - val_mean_squared_error: 13.3097 - val_mae: 1.3677
Epoch 97/100
110/110 [==============================] - 0s 4ms/step - loss: 13.7149 - mean_squared_error: 13.7149 - mae: 1.3798 - val_loss: 13.3009 - val_mean_squared_error: 13.3009 - val_mae: 1.3738
Epoch 98/100
110/110 [==============================] - 0s 4ms/step - loss: 13.6740 - mean_squared_error: 13.6740 - mae: 1.3854 - val_loss: 13.3535 - val_mean_squared_error: 13.3535 - val_mae: 1.3895
Epoch 99/100
110/110 [==============================] - 0s 4ms/step - loss: 13.8267 - mean_squared_error: 13.8267 - mae: 1.4086 - val_loss: 13.2683 - val_mean_squared_error: 13.2683 - val_mae: 1.3320
Epoch 100/100
110/110 [==============================] - 1s 5ms/step - loss: 13.8360 - mean_squared_error: 13.8360 - mae: 1.4169 - val_loss: 13.3742 - val_mean_squared_error: 13.3742 - val_mae: 1.2971

In [21]:
def applyFirstStepNA(row):
    if row.isna().sum().sum() == 0:
        return row
    
    t = row['timestamp']
    t = [ int(t.year), int(t.month), int(t.day), int(t.hour), int(t.minute), int(t.dayofweek) ]
    pred = model_from_time.predict([t])[0]
    
    i = 0
    for col in df_f.columns:
        if col == 'timestamp':
            continue
            
        if np.isnan(row[col]):
            row[col] = pred[i]
        i += 1
    return row

In [105]:
print(df.iloc[100:101])
t = df.iloc[100:101]['timestamp']
t = [ int(t.dt.year), int(t.dt.month), int(t.dt.day), int(t.dt.hour), int(t.dt.minute) ]
t
model_from_time.predict([t])

              timestamp     A_rate    A_CH4    A_C2H6     A_C3H8   A_iC4H10  \
100 2020-01-03 02:00:00  71.548304  0.12924  4.635794  41.270037  17.594473

     A_nC4H10  A_iC5H12  A_nC5H12   A_C6H14     B_rate    B_C2H6     B_C3H8  \
100  23.72837  4.033368  3.987027  4.580305  72.342317  4.832246  38.992113

      B_iC4H10   B_nC4H10
100  16.930177  23.812041

array([[64.50144   ,  0.15514413,  4.306711  , 37.965343  , 17.250818  ,
        24.082256  ,  4.7330847 ,  4.5802464 ,  5.810272  , 66.79096   ]],
      dtype=float32)

In [106]:
applyFirstStepNA(df.iloc[100:101])

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate,B_C2H6,B_C3H8,B_iC4H10,B_nC4H10
100,2020-01-03 02:00:00,71.548304,0.12924,4.635794,41.270037,17.594473,23.72837,4.033368,3.987027,4.580305,72.342317,4.832246,38.992113,16.930177,23.812041

In [22]:
de = df_f.apply(applyFirstStepNA, axis=1)

In [132]:
df.iloc[0:12]

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate,B_C2H6,B_C3H8,B_iC4H10,B_nC4H10
0,2020-01-01 00:00:00,70.855017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.982789,4.561979,39.015486,17.250740,24.301793
1,2020-01-01 00:30:00,70.826582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.965098,4.550741,39.048915,17.229506,24.257461
2,2020-01-01 01:00:00,70.809637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.867409,4.506793,38.766378,17.171621,24.236298
3,2020-01-01 01:30:00,69.994748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.839126,4.584963,39.069360,17.218521,24.149843
4,2020-01-01 02:00:00,70.072762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.336921,4.607483,38.817579,17.108668,24.049510
5,2020-01-01 02:30:00,69.998381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.317841,4.655999,39.088631,17.191166,24.075224
6,2020-01-01 03:00:00,69.929341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.160398,4.570683,38.595931,17.146432,24.080687
7,2020-01-01 03:30:00,70.286208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.111527,4.566087,39.005259,17.324374,24.248839
8,2020-01-01 04:00:00,70.521133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.217070,4.512160,38.634255,17.219131,24.203964
9,2020-01-01 04:30:00,71.055792,0.126244,5.242957,41.941480,17.064213,23.205953,4.184848,4.062079,4.110170,71.389674,4.532649,38.604149,17.238489,24.275393
10,2020-01-01 05:00:00,71.029881,0.111301,4.632455,39.198330,17.440245,24.331520,4.615703,4.545702,5.072316,71.792506,4.578543,38.510623,17.193441,24.242152
11,2020-01-01 05:30:00,71.008884,0.125176,4.730933,37.874656,17.353362,24.567692,4.847911,4.818913,5.626975,71.939558,4.642879,39.124029,17.301609,24.211492

In [145]:
de

,timestamp,A_rate,A_CH4,A_C2H6,A_C3H8,A_iC4H10,A_nC4H10,A_iC5H12,A_nC5H12,A_C6H14,B_rate
0,2020-01-01 00:00:00,70.855017,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.982789
1,2020-01-01 00:30:00,70.826582,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.965098
2,2020-01-01 01:00:00,70.809637,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.867409
3,2020-01-01 01:30:00,69.994748,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.839126
4,2020-01-01 02:00:00,70.072762,0.155144,4.306711,37.965343,17.250818,24.082256,4.733085,4.580246,5.810272,71.336921
...,...,...,...,...,...,...,...,...,...,...,...
5803,2020-04-30 21:30:00,72.009730,0.284151,4.936343,35.758852,16.473834,24.318968,6.069360,5.527463,6.577563,74.183355
5804,2020-04-30 22:00:00,71.854180,0.282501,4.960453,35.877193,16.448487,24.074193,5.981357,5.407256,6.915378,74.213066
5805,2020-04-30 22:30:00,71.783273,0.277686,5.013878,36.271557,16.500147,24.010123,5.829363,5.160329,6.884173,74.144367
5806,2020-04-30 23:00:00,71.717743,0.271106,5.080144,36.616673,16.559533,24.008848,5.750492,5.017941,6.642076,74.320575
5807,2020-04-30 23:30:00,71.730325,0.265635,5.069165,36.602453,16.649167,24.150503,5.752792,4.997528,6.459137,74.327170